<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <!-- Other head elements go here -->
</head>

<body id="ih4977">
  <div id="ilnhsc" class="gjs-grid-row">
    <div id="ikefqd" class="gjs-grid-column">
      <div id="irz6kd" class="gjs-grid-row">
        <div id="itk6db" class="gjs-grid-column"><a href = "\"><img src="assets/screenshot_2023_12_09_154651.png" id="iyopjd" /></a></div>
        <div id="i8e2t6" class="gjs-grid-row">
          <div id="i4i801" class="gjs-grid-row">
            <div class="gjs-grid-column"><a class="gjs-link-box"><a id="ioeqjy" class="gjs-link" href = "about"><b
                    id="idopg4">About</b></a></a></div>
            <div class="gjs-grid-column"><a class="gjs-link-box"><a id="ike6i5" class="gjs-link" href = "courses"><b
                    id="ii8y8q">Courses</b></a></a></div>
            <div class="gjs-grid-column"><a class="gjs-link-box"><a id="im5huh" class="gjs-link" href = "membership"><b
                    id="ip8cpj">Membership</b></a></a></div>
            <div class="gjs-grid-column"><a class="gjs-link-box"><a id="ibfz2h" class="gjs-link" href = "membership"><b
                      id="ijhl8p">Quiz</b></a></a></div>
          </div>
        </div>
        <div id="i9o1ez" class="gjs-grid-column">
          <div id="ilzb2o" class="gjs-grid-row">
            <div id="iudvmf" class="gjs-grid-column"><a id="itmxei" class="gjs-button">Donate</a></div>
            <div id="ikaeyu" class="gjs-grid-column"><a id="iu9bt5" class="gjs-button">Register</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="igi09f" class="gjs-grid-row">
    <div id="im13g2" class="gjs-grid-column">
      <h1 id="iqodri" class="gjs-heading">
        <font face="Georgia, serif" id="igfu42">Our Mission</font><br />
      </h1>
      <div id="iww9d3" class="gjs-grid-row">
        <div id="irg2b8" class="gjs-grid-column">
          <div id="i8gmqt">Teaching the next generation the essential's of property, taxes, personal investments, and
            retirement savings </div>
        </div>
      </div>
    </div>
  </div>
  <div id="iqzi8f" class="gjs-grid-row">
    <div id="i376ag" class="gjs-grid-column">
      <h2 id="i5d8va" class="gjs-heading">Who We Are</h2>
      <div id="ipk824" class="gjs-grid-row">
        <div id="ivt3vi" class="gjs-grid-column">
          <div id="i6r0wa" class="text-main-content">Dollar sense is a non- profit organization that seeks to help you
            use money wisely, make informed decisions about your finances, create budgets, manage debt, and plan your
            financial future. We created our platform to teach the fundamentals of financial literacy to create a
            baseline level to equip the next generation with the tools and knowledge to survive in the real world.</div>
        </div>
        <div id="i0pm5l" class="gjs-grid-column"><img id="iposxr" src="assets/page2_image.jpg" /></div>
      </div>
    </div>
  </div>
  <div id="i0jkrd" class="gjs-grid-row">
    <div id="i78xrh" class="gjs-grid-column">
      <h2 id="iku888" class="gjs-heading">Our Funding</h2>
      <div id="ih17kb" class="text-main-content">Dollar Sense relies on generous sponsorships and memberships for
        funding. Partnering with socially responsible businesses and individuals, we deliver impactful programs to
        empower communities. We partner up with local universities in our area to deliver seminars and workshop geared
        towards preparing undergraduates for financial future after they graduate.</div>
    </div>
  </div>
  <div id="ifgyh2" class="gjs-grid-row">
    <div id="ihltsz" class="gjs-grid-column">
      <h2 id="i6wepu" class="gjs-heading"><span id="idjykx" class="gjs-text-blue">
          <font color="#1d2837" id="ilh2zi">Meet Our </font>Team
        </span></h2>
      <div id="i92t3z" class="gjs-image-box"></div>
    </div>
  </div>
  <div id="iytz27" class="gjs-grid-row">
    <div id="i2adq7" class="gjs-grid-column">
      <div id="idyaxs" class="gjs-grid-row">
        <div id="ia7fnh" class="gjs-grid-column">
          <div id="ifm8mx"><b>Dollar Sense</b></div>
        </div>
        <div id="iuwj1t" class="gjs-grid-column"><a title="" href="##" id="inpl8w" class="gjs-link">Pricing<br /></a><a
            href="##" id="ibu3ln" class="gjs-link">Privacy Policy</a><a href="##" id="ixs6uh" class="gjs-link">Contact
            Us<br /></a></div>
      </div>
      <div id="i3j39f" class="gjs-text-blue">Copyright © 2023 Dollar Sense</div>
    </div>
  </div>
</body>

</html>