<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/about.css">
  <!-- Other head elements go here -->
</head>

<body id="i7dap7">
    <div id="imbb4z">Page 2 about stuff<br/><br/></div>
</body>