<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <!-- Other head elements go here -->
</head>

<body id="i3taoh">
    <div class="gjs-grid-row" id="ise4af">
        <div class="gjs-grid-column" id="i348bf">
            <div class="gjs-grid-row" id="ikb9db">
                <div class="gjs-grid-column" id="i4niso"><a href = "/"><img src="assets/screenshot_2023_12_09_154651.png"
                        id="ik4zea" /></a></div>
                <div class="gjs-grid-row" id="itvm9k">
                    <div class="gjs-grid-row">
                        <div class="gjs-grid-column"><a class="gjs-link-box"><a class="gjs-link" id="ile0sj" href="about"><b
                                        id="ipiqhe">About</b></a></a></div>
                        <div class="gjs-grid-column"><a class="gjs-link-box"><a class="gjs-link" id="iqlty1" href="courses"><b
                                        id="it8ckr">Courses</b></a></a></div>
                        <div class="gjs-grid-column"><a class="gjs-link-box"><a class="gjs-link" id="ihzoon" href="membership"><b
                                        id="ik4neg">Membership</b></a></a></div>
                        <div class="gjs-grid-column"><a class="gjs-link-box"><a id="ibfz2h" class="gjs-link" href = "quiz"><b
                                            id="ijhl8p">Quiz</b></a></a></div>
                    </div>
                </div>
                <div class="gjs-grid-column" id="ijb2xi">
                    <div class="gjs-grid-row">
                        <div class="gjs-grid-column" id="ihnpa5"><a class="gjs-button" id="ictirn">Donate</a></div>
                        <div class="gjs-grid-column"><a class="gjs-button" id="ihdhsb">Register</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gjs-grid-row" id="i00v2g">
        <div class="gjs-grid-column" id="ix1t9a">
            <h1 class="gjs-heading" id="ifwl21"><span id="i3wkj4">Beginner </span>
                <font color="#2463eb" id="i2o91h">Courses</font>
            </h1>
        </div>
    </div>
    <section class="gjs-section" id="ixxyni">
        <div class="gjs-container" id="i4sdmf">
            <div class="gjs-grid-row" id="iyd5gf">
                <div class="gjs-grid-column" id="igjhsk">
                    <h1 class="gjs-heading" id="igqhwx">Personal Finance</h1>
                    <div class="gjs-grid-row" id="i2nmix">
                        <div class="gjs-grid-column">
                            <div id="iw61j5">Personal finance is more than just managing money; it's about making
                                informed decisions that contribute to financial well-being. In a world filled with
                                financial complexities, understanding the basics of personal finance is crucial for
                                achieving economic stability and success.</div>
                        </div>
                    </div>
                    <div class="gjs-grid-row" id="ixw71i">
                        <div class="gjs-grid-column" id="ikim4o"><a class="gjs-link" id="iacobi" href="credit">Credit: Navigating the
                                Financial Landscape</a></div>
                    </div>
                    <div class="gjs-grid-row" id="ik1vmq">
                        <div class="gjs-grid-column"><a class="gjs-link" id="izrzjs" href="saving_money">Saving Money: A Guide to Financial
                                Well-being<br /></a></div>
                    </div>
                    <div class="gjs-grid-row" id="ic20ew">
                        <div class="gjs-grid-column"><a class="gjs-link" id="i4axzk" href="reducing_costs">Reducing Costs: Effective Expense
                                Management</a></div>
                    </div>
                    <div class="gjs-grid-row" id="iws7du">
                        <div class="gjs-grid-column" id="iqoz6j"><a class="gjs-link" id="i3srk5" href="stocks">US Market:
                                Understanding Stocks </a></div>
                    </div>
                </div>
                <div class="gjs-grid-column" id="iqhox2"><img id="iec787" src="assets/personalfinance.jpg" /></div>
            </div>
        </div>
    </section>
    <section class="gjs-section" id="itpezh">
        <div class="gjs-container" id="ivknfi">
            <div class="gjs-grid-row" id="iy1ago">
                <div class="gjs-grid-column" id="i6i6ay">
                    <h1 class="gjs-heading" id="itw8xj">Housing</h1>
                    <div class="gjs-grid-row" id="ifyu7q">
                        <div class="gjs-grid-column">
                            <div id="i1e12y">We understanding that it can be intimidating when trying to secure your own
                                home. We have broken down 4 of the most important topics when it comes to buying your
                                first home down below.</div>
                        </div>
                    </div>
                    <div class="gjs-grid-row" id="ifupv57">
                        <div class="gjs-grid-column" id="iigko7l"><a class="gjs-link" id="iobrh3z" href = "first_time_home">First-Time Home
                                Buyers Guide<br /></a></div>
                    </div>
                    <div class="gjs-grid-row" id="iw1bfpe">
                        <div class="gjs-grid-column" id="ifpqc6j"><a class="gjs-link" id="i6q1vs1">What is a Down
                                Payment: Navigating the Path to Homeownership<br /></a></div>
                    </div>
                    <div class="gjs-grid-row" id="ip0quez">
                        <div class="gjs-grid-column" id="irqrr6h"><a class="gjs-link" id="i3enu08">Navigating the Home
                                Ownership: Understanding Mortgage Options<br /></a></div>
                    </div>
                    <div class="gjs-grid-row" id="isax8tr">
                        <div class="gjs-grid-column" id="ink0axj"><a class="gjs-link" id="i8xc0sg">Home Affordability:
                                Navigating the Path to Your Dream Home <br /></a></div>
                    </div>
                </div>
                <div class="gjs-grid-column" id="iz7uey"><img id="imrpce" src="assets/house_picture.jpg" /></div>
            </div>
        </div>
    </section>
    <section class="gjs-section" id="iqqdnj">
        <div class="gjs-container" id="iyvy24">
            <div class="gjs-grid-row" id="i4hp7f">
                <div class="gjs-grid-column" id="i099gv">
                    <h1 class="gjs-heading" id="irel37">Retirement</h1>
                    <div class="gjs-grid-row" id="io6u66">
                        <div class="gjs-grid-column">
                            <div id="i0z3mn">Planning for your retirement seems like something you can figure out later
                                on in life. However, its best to start planning early on so you can reap to most rewards
                                out of your savings. Down below you will find introductory guides on how to </div>
                        </div>
                    </div>
                    <div class="gjs-grid-row" id="icsg7yk">
                        <div class="gjs-grid-column" id="iz3mvpk"><a class="gjs-link" id="i9gwrri" href = "saving_for_retirement">How to Begin Saving
                                for Retirement: A Comprehensive Guide</a></div>
                    </div>
                    <div class="gjs-grid-row" id="inxvb3u">
                        <div class="gjs-grid-column" id="ie69b7b"><a class="gjs-link" id="i7gf4dk">Unlocking Financial
                                Freedom: The Comprehensive Guide to 401k Retirement Plans</a></div>
                    </div>
                    <div class="gjs-grid-row" id="iaqas9k">
                        <div class="gjs-grid-column" id="ixdc56j"><a class="gjs-link" id="ilpqw56">Roth vs Traditional
                                IRA: Making Informed Choices for Your Retirement</a></div>
                    </div>
                    <div class="gjs-grid-row" id="ief0okp">
                        <div class="gjs-grid-column" id="i7ehibt"><a class="gjs-link" id="irrh0cs">The Silent Adversary:
                                Navigating Retirement in the Shadow of Inflation<br /></a></div>
                    </div>
                </div>
                <div class="gjs-grid-column" id="i8db53"><img id="i3u7tf" src="assets/retirement.jpg" /></div>
            </div>
        </div>
    </section>
    <section class="gjs-section" id="i5act5">
        <div class="gjs-container" id="isxlm1">
            <div class="gjs-grid-row" id="invhko">
                <div class="gjs-grid-column" id="iki8zj">
                    <h1 class="gjs-heading" id="ihcame">Taxes</h1>
                    <div class="gjs-grid-row" id="iqksf3">
                        <div class="gjs-grid-column">
                            <div id="i3bafy">Paying your taxes is one of the biggest issues most young adults face as
                                they transition into complete independence. The process is not as difficult as it seems
                                since there is a wide variety of websites available to make this process easy. Down
                                below we have guide available that break down the nuances of tax filing.</div>
                        </div>
                    </div>
                    <div class="gjs-grid-row" id="i2d0qgo">
                        <div class="gjs-grid-column" id="ia5jw4l"><a class="gjs-link" id="iarbqyb">How to Get Free Tax
                                Filing and Tax Prep</a></div>
                    </div>
                    <div class="gjs-grid-row" id="ien0oxj">
                        <div class="gjs-grid-column" id="ip8ziie"><a class="gjs-link" id="i13nwfu">Different Tax
                                Bracket: Navigating the Complex World of Taxation<br /></a></div>
                    </div>
                    <div class="gjs-grid-row" id="iwbtiqk">
                        <div class="gjs-grid-column" id="i0iidnl"><a class="gjs-link" id="iea6xvj">Federal Tax vs State
                                Tax: Navigating the Maze of Taxation<br /></a></div>
                    </div>
                    <div class="gjs-grid-row" id="in73biq">
                        <div class="gjs-grid-column" id="ig76cyi"><a class="gjs-link" id="isbk3bd">Understanding the
                                Basics of Tax Withholding<br /></a></div>
                    </div>
                </div>
                <div class="gjs-grid-column" id="ihx6sf"><img id="i9xvqt" src="assets/tax_picture.jpg" /></div>
            </div>
        </div>
    </section>
    <div class="gjs-grid-row" id="ibiujo">
        <div class="gjs-grid-column" id="ish61f">
            <div class="gjs-grid-row" id="i9r0n6">
                <div class="gjs-grid-column" id="ievfmf">
                    <div id="iiu7xm"><b id="isqhn1">Dollar Sense</b></div>
                </div>
                <div class="gjs-grid-column" id="i6ro65"><a title="" href="##" class="gjs-link"
                        id="ii8r24">Pricing<br /></a><a href="##" class="gjs-link" id="ikpnyd">Privacy Policy</a><a
                        href="##" class="gjs-link" id="ij8kq4">Contact Us<br /></a></div>
            </div>
            <div class="gjs-text-blue" id="i9zj3b">Copyright © 2023 Dollar Sense</div>
        </div>
    </div>
</body>