<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <!-- Other head elements go here -->
</head>

<body id="iau9">
  <div id="i6po" class="gjs-grid-row">
    <div id="itjq" class="gjs-grid-column">
      <div id="iyd2" class="gjs-grid-row">
        <div id="iqjl" class="gjs-grid-column"><img id="impp9f" src="assets/screenshot_2023_12_09_154651.png" /></div>
        <div id="i0ac8h" class="gjs-grid-row">
          <div id="iqaweq" class="gjs-grid-row">
            <div id="ipwc0l" class="gjs-grid-column"><a id="i61993" class="gjs-link-box"><a id="imt2xx"
                  class="gjs-link" href = "about"><b id="iu7zjp">About</b></a></a></div>
            <div id="it55jb" class="gjs-grid-column"><a id="idnrfl" class="gjs-link-box"><a id="ijkhxa"
                  class="gjs-link"><b id="iqviu7">Courses</b></a></a></div>
            <div id="ib1wpy" class="gjs-grid-column"><a id="i0wbhw" class="gjs-link-box"><a id="i80j1j"
                  class="gjs-link" href = "membership"><b id="imaybp">Membership</b></a></a></div>
          </div>
        </div>
        <div class="gjs-grid-column" id="i9o1ez">
          <div class="gjs-grid-row" id="igs22g">
            <div class="gjs-grid-column" id="itsyhh"><a id="i1mew" class="gjs-button">Donate</a></div>
            <div class="gjs-grid-column" id="ibd8b2"><a class="gjs-button" id="iwhts8">Register</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="irz7b" class="gjs-grid-row">
    <div id="iycz3" class="gjs-grid-column">
      <h1 id="irjua" class="gjs-heading"><span id="is23aj">Investing in Knowledge</span><br />
        <font color="#2463eb" id="ihoopj">Investing in Tomorrow</font>
      </h1><img id="ihyquf" src="assets/money.jpg" />
    </div>
  </div>
  <div id="feature-section" class="gjs-grid-row">
    <div id="imymf" class="gjs-grid-column">
      <div id="ib541" class="gjs-grid-row">
        <div id="iz8m8" class="gjs-grid-column">
          <h2 id="ism014" class="gjs-heading">Home Ownership</h2>
          <div id="igrx8" class="text-main-content">Dive into our comprehensive library of articles, guides, and
            checklists designed to demystify the homebuying process. Knowledge is power, and we're here to arm you with
            the tools you need.</div><a id="iqx3z1" class="gjs-button">Getting Started</a>
        </div>
        <div id="iepks" class="gjs-grid-column"><img id="iqb9nk" src="assets/house.jpg" /></div>
      </div>
    </div>
  </div>
  <div id="ioyxg" class="gjs-grid-row">
    <div id="i8w4i" class="gjs-grid-column">
      <h2 id="iiacm" class="gjs-heading">Personal Finance  <font color="#2463eb" id="iklyt1">Made Easy</font>
      </h2>
      <div id="ia21sa" class="text-main-content">Our commitment to financial literacy goes beyond mere advice – we're
        here to educate and empower. No matter where you are on your financial journey, we have resources tailored to
        your needs.</div>
      <div id="ixzh1" class="gjs-grid-row">
        <div id="ilpi3" class="gjs-grid-column feature-item">
          <div data-type-icon class="gjs-icon gjs-feature-icon" id="iyyrex"><svg viewBox="0 0 24 24">
              <path
                d="M16 9h3l-5 7m-4-7h4l-2 8M5 9h3l2 7m5-12h2l2 3h-3m-5-3h2l1 3h-4M7 4h2L8 7H5m1-5L2 8l10 14L22 8l-4-6H6z">
              </path>
            </svg></div>
          <h3 id="in9ef" class="gjs-heading">FAQ</h3>
          <div id="i8isa" class="text-main-content">We offer an FAQ page to answer the most commonly asked question to
            save you from endless searching.</div>
        </div>
        <div id="ic57kq" class="gjs-grid-column feature-item">
          <div data-type-icon id="ibdusm" class="gjs-icon gjs-feature-icon"><svg viewBox="0 0 24 24">
              <path
                d="M16 9h3l-5 7m-4-7h4l-2 8M5 9h3l2 7m5-12h2l2 3h-3m-5-3h2l1 3h-4M7 4h2L8 7H5m1-5L2 8l10 14L22 8l-4-6H6z">
              </path>
            </svg></div>
          <h3 id="ica43q" class="gjs-heading">5 Minutes or Less</h3>
          <div id="ickn3f" class="text-main-content">Our courses are presented in short easy to read paragraphs. We make
            it our priority to help you navigate any of your financial struggles</div>
        </div>
        <div id="idv32l" class="gjs-grid-column feature-item">
          <div data-type-icon id="ipmept" class="gjs-icon gjs-feature-icon"><svg viewBox="0 0 24 24">
              <path
                d="M16 9h3l-5 7m-4-7h4l-2 8M5 9h3l2 7m5-12h2l2 3h-3m-5-3h2l1 3h-4M7 4h2L8 7H5m1-5L2 8l10 14L22 8l-4-6H6z">
              </path>
            </svg></div>
          <h3 id="ieu6p6" class="gjs-heading">Universal Advice</h3>
          <div id="izqkf7" class="text-main-content">Regardless of your income bracket and background, we make it our
            mission to help you understand any financial questions you may have</div>
        </div>
      </div>
    </div>
  </div>
  <div id="iz29ek" class="gjs-grid-row">
    <div id="ik2rdi" class="gjs-grid-column">
      <h2 id="i83vu9" class="gjs-heading"><span id="i7owfh" class="gjs-text-blue">
          <font color="#1d2837" id="ipj2a">Our Dedication to </font>Financial Literacy
        </span></h2>
      <div id="in201n" class="text-main-content">We understand that whether you are trying to eliminate debt or plan for
        your future it can be difficult to find the right solution. We are committed to helping new graduates and young
        adults navigate these treacherous waters to ultimately secure financial freedom   <br /></div>
    </div>
  </div>
  <div id="iv3be5" class="gjs-grid-row">
    <div id="ilriti" class="gjs-grid-column">
      <div id="im0rle" class="gjs-grid-row">
        <div id="iotp6j" class="gjs-grid-column">
          <div id="iyo98g"><b id="icwo5">Dollar Sense</b></div>
        </div>
        <div id="i1hx7l" class="gjs-grid-column"><a id="ij7g8t" title="" href="##" class="gjs-link">Pricing<br /></a><a
            id="ipjdtn" href="##" class="gjs-link">Privacy Policy</a><a id="i2sl68" href="##" class="gjs-link">Contact
            Us<br /></a></div>
      </div>
      <div id="it6g1v" class="gjs-text-blue">Copyright © 2023 Dollar Sense</div>
    </div>
  </div>
</body>

</html>