<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Other head elements go here -->
</head>

<body id="ih8aja">
    <div id="icc0zh" class="gjs-grid-row">
        <div id="ie72tm" class="gjs-grid-column">
            <div id="iaxu29" class="gjs-grid-row">
                <div id="ihvycs" class="gjs-grid-column"><a href="/"><img src="assets/screenshot_2023_12_09_154651.png"
                        id="i2858l" /></a></div>
                <div id="ijz2il" class="gjs-grid-row">

                    <div id="i4jelk" class="gjs-grid-row">
                        <div class="gjs-grid-column"><a class="gjs-link-box"><a id="ic9zjj" class="gjs-link" href = "about"><b
                                        id="iqktgs">About</b></a></a></div>
                        <div class="gjs-grid-column"><a class="gjs-link-box"><a id="ifc5o6" class="gjs-link" href = "courses"><b
                                        id="in8p5s">Courses</b></a></a></div>
                        <div class="gjs-grid-column"><a class="gjs-link-box"><a id="ibfz2h" class="gjs-link" href = "membership"><b
                                        id="ijhl8p">Membership</b></a></a></div>
                        <div class="gjs-grid-column"><a class="gjs-link-box"><a id="ibfz2h" class="gjs-link" href = "quiz"><b
                                            id="ijhl8p">Quiz</b></a></a></div>
                    </div>

                </div>
                <div id="i5yj05" class="gjs-grid-column">
                    <div id="iy8r2j" class="gjs-grid-row">
                        <div id="ivlr3b" class="gjs-grid-column"><a id="i5pnih" class="gjs-button">Donate</a></div>
                        <div id="isc1q6" class="gjs-grid-column"><a id="iufbq5" class="gjs-button">Register</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ie27wy" class="gjs-grid-row">
        <div id="ivuihf" class="gjs-grid-column">
            <h1 id="ilvktd" class="gjs-heading">
                <font face="Georgia, serif" id="i95bwl">Exclusive Membership Content </font><br />
            </h1>
            <div id="ivnij1" class="gjs-grid-row">
                <div id="i7mpl8" class="gjs-grid-column">
                    <div id="isw5oz">Our services are paid for in part by the generous contributions from members like
                        you</div>
                </div>
            </div><img id="icuyf2" src="assets/membership.jpg" />
        </div>
    </div>
    <section id="iugdhi" class="gjs-section">
        <div id="iq4eln" class="gjs-container">
            <h2 id="irez4n" class="gjs-heading">Premium Features<br />
                <font color="#1ebc1c" id="i7du3q">$10.99 Monthly<br /><br /></font>
            </h2>
            <div id="i4ipi1" class="gjs-grid-row">
                <div id="iqp6as" class="gjs-grid-column">
                    <div data-type-icon id="inhpf2" class="gjs-icon"><svg viewBox="0 0 24 24">
                            <path
                                d="M16 9h3l-5 7m-4-7h4l-2 8M5 9h3l2 7m5-12h2l2 3h-3m-5-3h2l1 3h-4M7 4h2L8 7H5m1-5L2 8l10 14L22 8l-4-6H6z">
                            </path>
                        </svg></div>
                    <h1 id="is1p93" class="gjs-heading">Intermediate Courses</h1>
                    <div id="ihc63q">Our intermediate courses dive deeper into personal finance, retirement, real
                        estate, and tax codes. <br /><br />We break down the nuances for each of these categories into
                        greater detail to present complex information into a simple readable format.</div>
                </div>
                <div id="i93f2a" class="gjs-grid-column">
                    <div data-type-icon id="igrl1f" class="gjs-icon"><svg viewBox="0 0 24 24">
                            <path
                                d="M16 9h3l-5 7m-4-7h4l-2 8M5 9h3l2 7m5-12h2l2 3h-3m-5-3h2l1 3h-4M7 4h2L8 7H5m1-5L2 8l10 14L22 8l-4-6H6z">
                            </path>
                        </svg></div>
                    <h1 id="imrotz" class="gjs-heading">Financial Calculators</h1>
                    <div id="ihu6mf">Whether you are budgeting expenses or planning for your retirement we have you
                        covered. <br /><br /><br />With our variety of calculators you will never have to endlessly
                        search for websites to help you budget and plan for your specific lifestyle.</div>
                </div>
                <div id="i45smp" class="gjs-grid-column">
                    <div data-type-icon id="imb0j3" class="gjs-icon"><svg viewBox="0 0 24 24">
                            <path
                                d="M16 9h3l-5 7m-4-7h4l-2 8M5 9h3l2 7m5-12h2l2 3h-3m-5-3h2l1 3h-4M7 4h2L8 7H5m1-5L2 8l10 14L22 8l-4-6H6z">
                            </path>
                        </svg></div>
                    <h1 id="i3ps1b" class="gjs-heading">Personal News Feed</h1>
                    <div id="ikuhna">Interested in learning more about what interests you? Premium members also gain
                        access to our customized news feed. <br /><br />Simply input topics that interest you and we
                        will find the best articles relating to your queries.</div>
                </div>
            </div>
        </div>
    </section>
    <div id="igdcev" class="gjs-grid-row">
        <div id="i1rabp" class="gjs-grid-column">
            <div id="ix5emz" class="gjs-grid-row">
                <div id="isx4da" class="gjs-grid-column">
                    <div id="iwynmv"><b>Dollar Sense</b></div>
                </div>
                <div id="iqn9gj" class="gjs-grid-column"><a title="" href="##" id="i5ozxt"
                        class="gjs-link">Pricing<br /></a><a href="##" id="iuxhsq" class="gjs-link">Privacy Policy</a><a
                        href="##" id="ip8wog" class="gjs-link">Contact Us<br /></a></div>
            </div>
            <div id="inpinf" class="gjs-text-blue">Copyright © 2023 Dollar Sense</div>
        </div>
    </div>
</body>

</html>