<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <!-- Other head elements go here -->
</head>

<body id="ih8aja">
    <div id="icc0zh" class="gjs-grid-row">
        <div id="ie72tm" class="gjs-grid-column">
            <div id="iaxu29" class="gjs-grid-row">
                <div id="ihvycs" class="gjs-grid-column"><a href="/"><img src="assets/screenshot_2023_12_09_154651.png"
                        id="i2858l" /></a></div>
                <div id="ijz2il" class="gjs-grid-row">
                    <div id="i4jelk" class="gjs-grid-row">
                        <div class="gjs-grid-column"><a class="gjs-link-box"><a id="ic9zjj" class="gjs-link" href = "about"><b
                                        id="iqktgs">About</b></a></a></div>
                        <div class="gjs-grid-column"><a class="gjs-link-box"><a id="ifc5o6" class="gjs-link" href = "courses"><b
                                        id="in8p5s">Courses</b></a></a></div>
                        <div class="gjs-grid-column"><a class="gjs-link-box"><a id="ibfz2h" class="gjs-link" href = "membership"><b
                                        id="ijhl8p">Membership</b></a></a></div>
                        <div class="gjs-grid-column"><a class="gjs-link-box"><a id="ibfz2h" class="gjs-link" href = "quiz"><b
                                            id="ijhl8p">Quiz</b></a></a></div>
                    </div>
                </div>
                <div id="i5yj05" class="gjs-grid-column">
                    <div id="iy8r2j" class="gjs-grid-row">
                        <div id="ivlr3b" class="gjs-grid-column"><a id="i5pnih" class="gjs-button">Donate</a></div>
                        <div id="isc1q6" class="gjs-grid-column"><a id="iufbq5" class="gjs-button">Register</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    


    
    <div id="igdcev" class="gjs-grid-row">
        <div id="i1rabp" class="gjs-grid-column">
            <div id="ix5emz" class="gjs-grid-row">
                <div id="isx4da" class="gjs-grid-column">
                    <div id="iwynmv"><b>Dollar Sense</b></div>
                </div>
                <div id="iqn9gj" class="gjs-grid-column"><a title="" href="##" id="i5ozxt"
                        class="gjs-link">Pricing<br /></a><a href="##" id="iuxhsq" class="gjs-link">Privacy Policy</a><a
                        href="##" id="ip8wog" class="gjs-link">Contact Us<br /></a></div>
            </div>
            <div id="inpinf" class="gjs-text-blue">Copyright © 2023 Dollar Sense</div>
        </div>
    </div>
</body>


</html>

<script>
    function App(){
        return(
        /* Header */
        /*2. Current Score*/
        <div>
        <h2>Cureent Score: 0</h2>

        /*3 question card*/
        <div class = "Questioncard"></div>
            <h2>Question 1 out of 5</h2>
            <h3>What is the</h3>

        </div>

        );
    }
</script>