* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.gjs-icon {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	vertical-align: middle;
	fill: currentColor;
	width: 50px;
	height: 50px;
}

.gjs-link-box {
	color: inherit;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	max-width: 100%;
	text-decoration: none;
}

.gjs-grid-column {
	flex: 1 1 0%;
	padding: 5px 0;
}

.gjs-link {
	vertical-align: top;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

.gjs-grid-row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: row;
	min-height: auto;
	padding: 10px 0;
}

.gjs-heading {
	margin: 0;
}

.gjs-heading {
	margin: 0;
	color: rgba(29, 40, 55, 1);
}

.gjs-grid-column {
	flex: 1 1 0%;
	padding: 5px 0;
}

.gjs-grid-row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: row;
	min-height: auto;
	padding: 10px 0;
}

#iqjl {
	flex: 0 1 auto;
}

.gjs-link-box {
	color: inherit;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	max-width: 100%;
	text-decoration: none;
}

.gjs-link {
	vertical-align: top;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
	color: inherit;
	transition: color 0.3s ease 0s;
}

#id7x {
	display: block;
	width: 300px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	flex: 0 0 auto;
}

#iyd2 {
	align-items: center;
	justify-content: space-between;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: rgba(255, 255, 255, 0.8);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	backdrop-filter: blur(13px);
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.14);
}

#i6po {
	justify-content: center;
	position: sticky;
	top: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

#itjq {
	width: 100%;
	max-width: 1200px;
}

#irz7b {
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 0px;
}

#iycz3 {
	max-width: 1200px;
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 0%;
	height: 50%;
}

#irjua {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	position: static;
}

.text-content {
	line-height: 20px;
}

.text-main-content {
	line-height: 30px;
	font-size: 1.2rem;
}

#iau9 {
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(180deg, rgba(59, 130, 245, 0.11), white 14%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
	color: #475569;
}

#igrx8 {
	padding: 10px;
	max-width: 750px;
	margin-bottom: 25px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

#imymf {
	max-width: 1200px;
	align-items: center;
	display: flex;
	flex-direction: column;
}

#feature-section {
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 20px;
	padding-right: 20px;
}

#ib541 {
	gap: 100px;
	justify-content: space-between;
}

#iz8m8 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

#in9ef {
	font-size: 1.5rem;
	font-family: Georgia, serif;
}

#i8isa {
	padding: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

#i8w4i {
	max-width: 1200px;
	display: flex;
	flex-direction: column;
}

#ioyxg {
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 20px;
	padding-right: 20px;
}

#iiacm {
	font-size: 2.5rem;
	margin-bottom: 10px;
	max-width: 750px;
	font-family: Georgia, serif;
}

#ixzh1 {
	width: 100%;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 50px;
}

.gjs-grid-column.feature-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 30%;
}

#ia21sa {
	padding: 10px;
	max-width: 750px;
	margin-bottom: 70px;
	padding-left: 0px;
	padding-right: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

.gjs-grid-column.testimonial-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 45%;
	background-color: rgba(247, 247, 247, 0.23);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	align-items: flex-start;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgba(0, 0, 0, 0.06);
	border-right-color: rgba(0, 0, 0, 0.06);
	border-bottom-color: rgba(0, 0, 0, 0.06);
	border-left-color: rgba(0, 0, 0, 0.06);
}

#ilriti {
	max-width: 1200px;
	display: flex;
	flex-direction: column;
}

#iv3be5 {
	justify-content: center;
	padding-top: 80px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 80px;
}

#im0rle {
	flex-direction: column;
}

#iotp6j {
	align-self: center;
}

#it6g1v {
	padding: 10px;
	text-align: center;
	font-size: 0.8rem;
	margin-top: 20px;
	opacity: 75%;
}

#ij7g8t {
	display: block;
}

#ipjdtn {
	display: block;
}

#i1hx7l {
	display: flex;
	gap: 30px;
	flex: 0 1 auto;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#i2sl68 {
	display: block;
}

.gjs-button {
	vertical-align: top;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
	color: white;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	background-color: rgb(36, 99, 235);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-top: 10px;
	font-size: 1.1rem;
	text-align: center;
}

.gjs-text-blue {
	color: rgb(36, 99, 235);
}

#ism014 {
	font-size: 2.5rem;
	font-family: Georgia, serif;
}

#in201n {
	padding: 10px;
	max-width: 750px;
	margin-bottom: 35px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	margin-top: 35px;
}

#ik2rdi {
	max-width: 1200px;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgba(0, 0, 0, 0.06);
	border-right-color: rgba(0, 0, 0, 0.06);
	border-bottom-color: rgba(0, 0, 0, 0.06);
	border-left-color: rgba(0, 0, 0, 0.06);
	background-image: radial-gradient(515px at 50% 141%, rgba(35, 98, 235, 0.22) 10%, white 90%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
	box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.07);
}

#iz29ek {
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 20px;
	padding-right: 20px;
}

.gjs-link:hover {
	color: rgb(36, 99, 235);
	text-decoration: underline;
}

.gjs-icon {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	vertical-align: middle;
	fill: currentColor;
	width: 50px;
	height: 50px;
}

.gjs-icon.gjs-feature-icon {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	background-color: rgb(36, 99, 235);
	color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#ieu6p6 {
	font-size: 1.5rem;
	font-family: Georgia, serif;
}

#izqkf7 {
	padding: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

#ica43q {
	font-size: 1.5rem;
	font-family: Georgia, serif;
}

#ickn3f {
	padding: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

#i83vu9 {
	font-size: 2.5rem;
	text-align: center;
}

#impp9f {
	color: black;
}

#i0ac8h {
	flex-basis: 1%;
}

#i1mew {
	font-family: Georgia, serif;
	background-color: #1ebc1c;
}

#imt2xx {
	color: #d983a6;
	padding: 10px;
	font-family: Comic Sans MS, cursive, sans-serif;
}

#ijkhxa {
	color: #d983a6;
	padding: 10px;
}

#i80j1j {
	color: #d983a6;
	padding: 10px;
}

#iu7zjp {
	color: rgba(0, 0, 0, 0.99);
	font-family: Georgia, serif;
	font-size: 24px;
}

#iqviu7 {
	color: rgb(0, 0, 0);
	font-family: Georgia, serif;
	font-size: 24px;
}

#imaybp {
	color: rgb(0, 0, 0);
	font-family: Georgia, serif;
	font-size: 24px;
}

#ihoopj {
	font-size: 40px;
	font-family: Georgia, serif;
	color: #1ebc1c;
}

#is23aj {
	font-family: Georgia, serif;
}

#iqx3z1 {
	background-color: #1ebc1c;
}

#iqb9nk {
	color: black;
	max-width: 100%;
}

#ihyquf {
	color: black;
	width: 100%;
	height: 50%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	align-self: stretch;
	filter: brightness(80%);
}

#iyo98g {
	padding: 10px;
	font-size: 30px;
}

#ikefqd {
	width: 100%;
	max-width: 1200px;
}

#ilnhsc {
	justify-content: center;
	position: sticky;
	top: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

#imuljq {
	font-family: Georgia, serif;
}

#i0i5bq {
	font-size: 40px;
	color: #208AAE;
	font-family: Georgia, serif;
}

#iqodri {
	text-align: center;
	font-family: Georgia, serif;
	font-size: 50px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	position: static;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#im13g2 {
	max-width: 1200px;
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 0%;
	height: 50%;
}

#igi09f {
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

#i5d8va {
	font-size: 2.5rem;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	align-self: flex-start;
	font-family: Georgia, serif;
}

#i6r0wa {
	padding: 10px;
	max-width: 750px;
	margin-bottom: 25px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
}

#ivt3vi {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	position: relative;
}

#ipk824 {
	gap: 100px;
	justify-content: space-between;
}

#i376ag {
	max-width: 1200px;
	align-items: center;
	display: flex;
	flex-direction: column;
}

#iqzi8f {
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 20px;
	padding-right: 20px;
}

#iku888 {
	font-size: 2.5rem;
	margin-bottom: 10px;
	max-width: 750px;
}

#ih17kb {
	padding: 10px;
	max-width: 750px;
	margin-bottom: 70px;
	padding-left: 0px;
	padding-right: 0px;
}

#i78xrh {
	max-width: 1200px;
	display: flex;
	flex-direction: column;
}

#i0jkrd {
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 20px;
	padding-right: 20px;
}

#i6wepu {
	font-size: 2.5rem;
	text-align: center;
}

#ihltsz {
	max-width: 1200px;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgba(0, 0, 0, 0.06);
	border-right-color: rgba(0, 0, 0, 0.06);
	border-bottom-color: rgba(0, 0, 0, 0.06);
	border-left-color: rgba(0, 0, 0, 0.06);
	background-image: radial-gradient(515px at 50% 141%, rgba(35, 98, 235, 0.22) 10%, white 90%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
	box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.07);
}

#ifgyh2 {
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 20px;
	padding-right: 20px;
}

#ifm8mx {
	padding: 10px;
	font-size: 30px;
}

#ia7fnh {
	align-self: center;
}

#inpl8w {
	display: block;
}

#ibu3ln {
	display: block;
}

#ixs6uh {
	display: block;
}

#iuwj1t {
	display: flex;
	gap: 30px;
	flex: 0 1 auto;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#idyaxs {
	flex-direction: column;
}

#i3j39f {
	padding: 10px;
	text-align: center;
	font-size: 0.8rem;
	margin-top: 20px;
	opacity: 75%;
}

#i2adq7 {
	max-width: 1200px;
	display: flex;
	flex-direction: column;
}

#iytz27 {
	justify-content: center;
	padding-top: 80px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 80px;
}

#ih4977 {
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(180deg, rgba(59, 130, 245, 0.11), white 14%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
	color: #475569;
}

#igfu42 {
	font-family: Georgia, serif;
}

#i8gmqt {
	padding: 10px;
}

#iklyt1 {
	color: rgba(30, 188, 28, 1);
	font-family: Georgia, serif;
}

#ibdusm {
	background-color: #1ebc1c;
}

#ipmept {
	background-color: #1ebc1c;
}

#ipj2a {
	font-family: Georgia, serif;
}

#i7owfh {
	font-family: Georgia, serif;
	color: #1ebc1c;
}

#icwo5 {
	font-family: Georgia, serif;
}

#idjykx {
	color: #1ebc1c;
}

.gjs-image-box {
	height: 200px;
	width: 100%;
}

#i92t3z {
	background-image: url('../assets/team.png');
	background-size: contain;
	background-position: center center;
	background-attachment: scroll;
	background-repeat: no-repeat;
}

#iposxr {
	color: black;
	width: 100%;
	height: 100%;
}

#ie72tm {
	width: 100%;
	max-width: 1200px;
}

#icc0zh {
	justify-content: center;
	position: sticky;
	top: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

#i95bwl {
	font-family: Georgia, serif;
}

#ilvktd {
	text-align: center;
	font-family: Georgia, serif;
	font-size: 50px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	position: static;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#isw5oz {
	padding: 10px;
}

#ivuihf {
	max-width: 1200px;
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 0%;
	height: 50%;
}

#ie27wy {
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

#iwynmv {
	padding: 10px;
	font-size: 30px;
}

#isx4da {
	align-self: center;
}

#i5ozxt {
	display: block;
}

#iuxhsq {
	display: block;
}

#ip8wog {
	display: block;
}

#iqn9gj {
	display: flex;
	gap: 30px;
	flex: 0 1 auto;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#ix5emz {
	flex-direction: column;
}

#inpinf {
	padding: 10px;
	text-align: center;
	font-size: 0.8rem;
	margin-top: 20px;
	opacity: 75%;
}

#i1rabp {
	max-width: 1200px;
	display: flex;
	flex-direction: column;
}

#igdcev {
	justify-content: center;
	padding-top: 80px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 80px;
}

#ih8aja {
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(180deg, rgba(59, 130, 245, 0.11), white 14%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
	color: #475569;
}

#i9odvn {
	background-image: url('../assets/team.png');
	background-size: contain;
	background-position: center center;
	background-attachment: scroll;
	background-repeat: no-repeat;
}

#iyyrex {
	background-color: #1ebc1c;
}

.gjs-container {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
}

.gjs-section {
	display: flex;
	padding: 50px 0;
}

#iugdhi {
	font-family: Georgia, serif;
}

#ihc63q {
	padding: 10px;
	line-height: 24px;
}

#ihu6mf {
	padding: 10px;
}

#ikuhna {
	padding: 10px;
}

#inhpf2 {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #1ebc1c;
	color: rgba(255, 248, 248, 1);
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#igrl1f {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #1ebc1c;
	color: rgba(255, 248, 248, 1);
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#imb0j3 {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #1ebc1c;
	color: rgba(255, 248, 248, 1);
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#irbkje {
	color: rgba(30, 188, 28, 1);
	font-family: Georgia, serif;
}

#irez4n {
	font-size: 2.5rem;
	margin-bottom: 10px;
	max-width: 750px;
	font-family: Georgia, serif;
}

#i7du3q {
	font-size: 24px;
}

#icuyf2 {
	color: black;
	width: 50%;
}

#iwhts8 {
	font-family: Georgia, serif;
	background-color: #1ebc1c;
}

#itsyhh {
	align-self: flex-start;
}

#iyopjd {
	color: black;
}

#itk6db {
	flex: 0 1 auto;
}

#idopg4 {
	color: rgba(0, 0, 0, 0.99);
	font-family: Georgia, serif;
	font-size: 24px;
}

#ioeqjy {
	color: #d983a6;
	padding: 10px;
	font-family: Comic Sans MS, cursive, sans-serif;
}

#ii8y8q {
	color: rgb(0, 0, 0);
	font-family: Georgia, serif;
	font-size: 24px;
}

#ike6i5 {
	color: #d983a6;
	padding: 10px;
}

#ip8cpj {
	color: rgb(0, 0, 0);
	font-family: Georgia, serif;
	font-size: 24px;
}

#im5huh {
	color: #d983a6;
	padding: 10px;
}

#i8e2t6 {
	flex-basis: 1%;
}

#itmxei {
	font-family: Georgia, serif;
	background-color: #1ebc1c;
}

#iudvmf {
	align-self: flex-start;
}

#iu9bt5 {
	font-family: Georgia, serif;
	background-color: #1ebc1c;
}

#i9o1ez {
	flex: 0 1 auto;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	width: 300px;
}

#irz6kd {
	align-items: center;
	justify-content: space-between;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: rgba(255, 255, 255, 0.8);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	backdrop-filter: blur(13px);
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.14);
}

#i2858l {
	color: black;
}

#ihvycs {
	flex: 0 1 auto;
}

#iqktgs {
	color: rgba(0, 0, 0, 0.99);
	font-family: Georgia, serif;
	font-size: 24px;
}

#ic9zjj {
	color: #d983a6;
	padding: 10px;
	font-family: Comic Sans MS, cursive, sans-serif;
}

#in8p5s {
	color: rgb(0, 0, 0);
	font-family: Georgia, serif;
	font-size: 24px;
}

#ifc5o6 {
	color: #d983a6;
	padding: 10px;
}

#ijhl8p {
	color: rgb(0, 0, 0);
	font-family: Georgia, serif;
	font-size: 24px;
}

#ibfz2h {
	color: #d983a6;
	padding: 10px;
}

#ijz2il {
	flex-basis: 1%;
}

#i5pnih {
	font-family: Georgia, serif;
	background-color: #1ebc1c;
}

#ivlr3b {
	align-self: flex-start;
}

#iufbq5 {
	font-family: Georgia, serif;
	background-color: #1ebc1c;
}

#i5yj05 {
	flex: 0 1 auto;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	width: 300px;
}

#iaxu29 {
	align-items: center;
	justify-content: space-between;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: rgba(255, 255, 255, 0.8);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	backdrop-filter: blur(13px);
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.14);
}

#ik4zea {
	color: black;
}

#i4niso {
	flex: 0 1 auto;
}

#ipiqhe {
	color: rgba(0, 0, 0, 0.99);
	font-family: Georgia, serif;
	font-size: 24px;
}

#ile0sj {
	color: #d983a6;
	padding: 10px;
	font-family: Comic Sans MS, cursive, sans-serif;
}

#it8ckr {
	color: rgb(0, 0, 0);
	font-family: Georgia, serif;
	font-size: 24px;
}

#iqlty1 {
	color: #d983a6;
	padding: 10px;
}

#ik4neg {
	color: rgb(0, 0, 0);
	font-family: Georgia, serif;
	font-size: 24px;
}

#ihzoon {
	color: #d983a6;
	padding: 10px;
}

#itvm9k {
	flex-basis: 1%;
}

#ictirn {
	font-family: Georgia, serif;
	background-color: #1ebc1c;
}

#ihnpa5 {
	align-self: flex-start;
}

#ihdhsb {
	font-family: Georgia, serif;
	background-color: #1ebc1c;
}

#ijb2xi {
	display: block;
	width: 300px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	flex: 0 0 auto;
}

#ikb9db {
	align-items: center;
	justify-content: space-between;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: rgba(255, 255, 255, 0.8);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	backdrop-filter: blur(13px);
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.14);
}

#i348bf {
	width: 100%;
	max-width: 1200px;
}

#ise4af {
	justify-content: center;
	position: sticky;
	top: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

#i3wkj4 {
	font-family: Georgia, serif;
	font-size: 50px;
}

#i2o91h {
	font-size: 50px;
	font-family: Georgia, serif;
	color: #1ebc1c;
}

#ifwl21 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	position: static;
}

#ix1t9a {
	max-width: 1200px;
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 0%;
	height: 50%;
}

#i00v2g {
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 0px;
}

#isqhn1 {
	font-family: Georgia, serif;
}

#iiu7xm {
	padding: 10px;
	font-size: 30px;
}

#ievfmf {
	align-self: center;
}

#ii8r24 {
	display: block;
}

#ikpnyd {
	display: block;
}

#ij8kq4 {
	display: block;
}

#i6ro65 {
	display: flex;
	gap: 30px;
	flex: 0 1 auto;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#i9r0n6 {
	flex-direction: column;
}

#i9zj3b {
	padding: 10px;
	text-align: center;
	font-size: 0.8rem;
	margin-top: 20px;
	opacity: 75%;
}

#ish61f {
	max-width: 1200px;
	display: flex;
	flex-direction: column;
}

#ibiujo {
	justify-content: center;
	padding-top: 80px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 80px;
}

#i3taoh {
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(180deg, rgba(59, 130, 245, 0.11), white 14%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
	color: #475569;
}

#iw61j5 {
	padding: 10px;
	line-height: 30px;
}

#iacobi {
	color: #1ebc1c;
	padding: 10px;
}

#izrzjs {
	color: #1ebc1c;
	padding: 10px;
}

#i4axzk {
	color: #1ebc1c;
	padding: 10px;
}

#i3srk5 {
	color: #1ebc1c;
	padding: 10px;
}

#i1e12y {
	padding: 10px;
	line-height: 30px;
}

#i0z3mn {
	padding: 10px;
	line-height: 30px;
}

#i3bafy {
	padding: 10px;
	line-height: 30px;
}

#iec787 {
	color: black;
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 31px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#imrpce {
	color: black;
	width: 100%;
}

#i9xvqt {
	color: black;
	width: 100%;
}

#i3u7tf {
	color: black;
	width: 100%;
}

#imomp7 {
	color: black;
}

#iwt7ev {
	flex: 0 1 auto;
}

#io9u1s {
	color: rgba(0, 0, 0, 0.99);
	font-family: Georgia, serif;
	font-size: 24px;
}

#iy37uy {
	color: #d983a6;
	padding: 10px;
	font-family: Comic Sans MS, cursive, sans-serif;
}

#if8xp4 {
	color: rgb(0, 0, 0);
	font-family: Georgia, serif;
	font-size: 24px;
}

#izdwsh {
	color: #d983a6;
	padding: 10px;
}

#iwjg9p {
	color: rgb(0, 0, 0);
	font-family: Georgia, serif;
	font-size: 24px;
}

#ia1ouk {
	color: #d983a6;
	padding: 10px;
}

#ia00yj {
	flex-basis: 1%;
}

#i4h9zx {
	font-family: Georgia, serif;
	background-color: #1ebc1c;
}

#isrzrq {
	align-self: flex-start;
}

#ifr5a4 {
	font-family: Georgia, serif;
	background-color: #1ebc1c;
}

#i8c77i {
	display: block;
	width: 300px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	flex: 0 0 auto;
}

#iel8b4 {
	align-items: center;
	justify-content: space-between;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: rgba(255, 255, 255, 0.8);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	backdrop-filter: blur(13px);
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.14);
}

#iba3cv {
	width: 100%;
	max-width: 1200px;
}

#ipr6cm {
	justify-content: center;
	position: sticky;
	top: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

#i8klqi {
	font-family: Georgia, serif;
}

#iwwb4c {
	padding: 10px;
	font-size: 30px;
}

#iteyrf {
	align-self: center;
}

#if9e17 {
	display: block;
}

#i2jobx {
	display: block;
}

#i3i2pk {
	display: block;
}

#ir2j1i {
	display: flex;
	gap: 30px;
	flex: 0 1 auto;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#ieg6gi {
	flex-direction: column;
}

#i7l4hn {
	padding: 10px;
	text-align: center;
	font-size: 0.8rem;
	margin-top: 20px;
	opacity: 75%;
}

#iydz17 {
	max-width: 1200px;
	display: flex;
	flex-direction: column;
}

#i4rm0q {
	justify-content: center;
	padding-top: 80px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 80px;
}

#igea5f {
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(180deg, rgba(59, 130, 245, 0.11), white 14%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
	color: #475569;
}

#ikvxdc {
	padding-top: 50px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}

#ikmy4w {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}

#iu92pn {
	line-height: 30px;
}

#ixbtj5 {
	font-family: Georgia, serif;
	font-size: 25px;
}

#icx3y9 {
	padding: 10px;
	line-height: 30px;
}

#iplbsq {
	font-family: Georgia, serif;
	font-size: 25px;
}

#im6ssf {
	padding: 10px;
	line-height: 30px;
}

#i7x5ai {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}

#ii5mpk {
	font-family: Georgia, serif;
	font-size: 25px;
}

#i64ro7 {
	padding: 10px;
	line-height: 30px;
}

#ivtvgk {
	font-family: Georgia, serif;
	font-size: 25px;
}

#i8473h {
	padding: 10px;
	line-height: 30px;
}

#ib8m8n {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}

#i6g3ic {
	font-family: Georgia, serif;
	font-size: 25px;
}

#i4qfvw {
	padding: 10px;
	line-height: 30px;
}

#i0ij58 {
	font-family: Georgia, serif;
	font-size: 25px;
}

#ihp6a7 {
	padding: 10px;
	line-height: 30px;
}

#icufty {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}

#iw2qgi {
	font-family: Georgia, serif;
	font-size: 25px;
}

#i6wgsm {
	padding: 10px;
	line-height: 30px;
}

#iit3hj {
	font-family: Georgia, serif;
	font-size: 25px;
}

#i6ej75 {
	padding: 10px;
	line-height: 30px;
}

#i9jjwi {
	font-family: Georgia, serif;
	font-size: 25px;
}

#iczvk2 {
	padding: 10px;
	line-height: 30px;
}

#inm3c4 {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}

#isoinb {
	font-family: Georgia, serif;
	font-size: 50px;
}

#ibcwod {
	font-size: 30px;
	font-family: Georgia, serif;
	color: #1ebc1c;
}

#itgn7e {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	position: static;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}

#ihhcgh {
	color: rgba(30, 188, 28, 1);
	font-family: Georgia, serif;
}

#i6fase {
	font-size: 2.3rem;
	margin-bottom: 10px;
	max-width: 750px;
	font-family: Georgia, serif;
}

#ipm4mh {
	font-size: 2.3rem;
	margin-bottom: 10px;
	max-width: 750px;
	font-family: Georgia, serif;
}

#ikpr54 {
	font-size: 2.3rem;
	margin-bottom: 10px;
	max-width: 750px;
	font-family: Georgia, serif;
}

#i1syxj {
	color: black;
}

#iejth8 {
	flex: 0 1 auto;
}

#i4upun {
	color: rgba(0, 0, 0, 0.99);
	font-family: Georgia, serif;
	font-size: 24px;
}

#ivu54j {
	color: #d983a6;
	padding: 10px;
	font-family: Comic Sans MS, cursive, sans-serif;
}

#in8xaj {
	color: rgb(0, 0, 0);
	font-family: Georgia, serif;
	font-size: 24px;
}

#iofe51 {
	color: #d983a6;
	padding: 10px;
}

#ig5brh {
	color: rgb(0, 0, 0);
	font-family: Georgia, serif;
	font-size: 24px;
}

#i077pz {
	color: #d983a6;
	padding: 10px;
}

#i9nwik {
	flex-basis: 1%;
}

#i3bi59 {
	font-family: Georgia, serif;
	background-color: #1ebc1c;
}

#igs9mi {
	align-self: flex-start;
}

#iqd286 {
	font-family: Georgia, serif;
	background-color: #1ebc1c;
}

#iwx26x {
	display: block;
	width: 300px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	flex: 0 0 auto;
}

#i5t9ig {
	align-items: center;
	justify-content: space-between;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: rgba(255, 255, 255, 0.8);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	backdrop-filter: blur(13px);
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.14);
}

#iq3566 {
	width: 100%;
	max-width: 1200px;
}

#isu32a {
	justify-content: center;
	position: sticky;
	top: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

#i1ag5p {
	font-family: Georgia, serif;
	font-size: 50px;
}

#iyu6w5 {
	font-size: 30px;
	font-family: Georgia, serif;
	color: #1ebc1c;
}

#inxg5f {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	position: static;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}

#infi8t {
	padding-top: 50px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}

#i1pr1b {
	font-size: 2.3rem;
	margin-bottom: 10px;
	max-width: 750px;
	font-family: Georgia, serif;
}

#iwzn1s {
	line-height: 30px;
}

#ixcs2u {
	font-family: Georgia, serif;
	font-size: 25px;
}

#ixs7kq {
	padding: 10px;
	line-height: 30px;
}

#i4k9mf {
	font-family: Georgia, serif;
	font-size: 25px;
}

#i468xg {
	padding: 10px;
	line-height: 30px;
}

#ihgy4b {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}

#i61k13 {
	font-size: 2.3rem;
	margin-bottom: 10px;
	max-width: 750px;
	font-family: Georgia, serif;
}

#iku57j {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}

#ixk12l {
	font-family: Georgia, serif;
	font-size: 25px;
}

#inuvvg {
	padding: 10px;
	line-height: 30px;
}

#icnr7j {
	font-family: Georgia, serif;
	font-size: 25px;
}

#i8jw52 {
	padding: 10px;
	line-height: 30px;
}

#id9sq8 {
	font-family: Georgia, serif;
	font-size: 25px;
}

#ij9zkp {
	padding: 10px;
	line-height: 30px;
}

#ikdb3i {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}

#iq82yz {
	font-size: 2.3rem;
	margin-bottom: 10px;
	max-width: 750px;
	font-family: Georgia, serif;
}

#ifo439 {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}

#ivlrdt {
	font-family: Georgia, serif;
	font-size: 25px;
}

#ivfqkj {
	padding: 10px;
	line-height: 30px;
}

#ivhee6 {
	font-family: Georgia, serif;
	font-size: 25px;
}

#ixwbed {
	padding: 10px;
	line-height: 30px;
}

#i3rpnu {
	font-family: Georgia, serif;
	font-size: 25px;
}

#i2z6zl {
	padding: 10px;
	line-height: 30px;
}

#i64oo1 {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}

#icuwpf {
	font-family: Georgia, serif;
}

#i67rgd {
	padding: 10px;
	font-size: 30px;
}

#ipgxz4 {
	align-self: center;
}

#ipin1i {
	display: block;
}

#iayvni {
	display: block;
}

#ikg433 {
	display: block;
}

#i9icui {
	display: flex;
	gap: 30px;
	flex: 0 1 auto;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#i0xora {
	flex-direction: column;
}

#iz5izl {
	padding: 10px;
	text-align: center;
	font-size: 0.8rem;
	margin-top: 20px;
	opacity: 75%;
}

#icsy9h {
	max-width: 1200px;
	display: flex;
	flex-direction: column;
}

#iw8ljn {
	justify-content: center;
	padding-top: 80px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 80px;
}

#iwj17j {
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(180deg, rgba(59, 130, 245, 0.11), white 14%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
	color: #475569;
}

#iyw4tw {
	font-size: 30px;
}

#iwgejj {
	font-size: 2.3rem;
	margin-bottom: 10px;
	max-width: 750px;
	font-family: Georgia, serif;
}

#iu83io {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}

#i4mugu {
	font-family: Georgia, serif;
	font-size: 25px;
}

#ic56u3 {
	padding: 10px;
	line-height: 30px;
}

#in9l2v {
	font-family: Georgia, serif;
	font-size: 25px;
}

#idv4xc {
	padding: 10px;
	line-height: 30px;
}

#irxopd {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}

#ii045k {
	font-size: 2.3rem;
	margin-bottom: 10px;
	max-width: 750px;
	font-family: Georgia, serif;
}

#i5dbt5 {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}

#ixoiwp {
	font-family: Georgia, serif;
	font-size: 25px;
}

#i3m7vh {
	padding: 10px;
	line-height: 30px;
}

#i4hcc7 {
	font-family: Georgia, serif;
	font-size: 25px;
}

#ifch8f {
	padding: 10px;
	line-height: 30px;
}

#ivysbf {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}

#iixjoz {
	font-family: Georgia, serif;
	font-size: 25px;
}

#igx1bk {
	padding: 10px;
	line-height: 30px;
}

#iosqaj {
	color: black;
}

#id1mto {
	flex: 0 1 auto;
}

#iv4bp4 {
	color: rgba(0, 0, 0, 0.99);
	font-family: Georgia, serif;
	font-size: 24px;
}

#i1gchf {
	color: #d983a6;
	padding: 10px;
	font-family: Comic Sans MS, cursive, sans-serif;
}

#iyw7kj {
	color: rgb(0, 0, 0);
	font-family: Georgia, serif;
	font-size: 24px;
}

#ir0ix9 {
	color: #d983a6;
	padding: 10px;
}

#ixbuth {
	color: rgb(0, 0, 0);
	font-family: Georgia, serif;
	font-size: 24px;
}

#i9qivx {
	color: #d983a6;
	padding: 10px;
}

#igdal2 {
	flex-basis: 1%;
}

#ifiiqb {
	font-family: Georgia, serif;
	background-color: #1ebc1c;
}

#iwd0v6 {
	align-self: flex-start;
}

#i3snk5 {
	font-family: Georgia, serif;
	background-color: #1ebc1c;
}

#it6njg {
	display: block;
	width: 300px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	flex: 0 0 auto;
}

#ido2ge {
	align-items: center;
	justify-content: space-between;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: rgba(255, 255, 255, 0.8);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	backdrop-filter: blur(13px);
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.14);
}

#if1b8u {
	width: 100%;
	max-width: 1200px;
}

#iavktt {
	justify-content: center;
	position: sticky;
	top: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

#i8os2p {
	font-size: 30px;
}

#ixh13p {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	position: static;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}

#izb2kr {
	padding-top: 50px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}

#ifmjjf {
	font-size: 2.3rem;
	margin-bottom: 10px;
	max-width: 750px;
	font-family: Georgia, serif;
}

#ipgxw3 {
	line-height: 30px;
}

#i5rgem {
	font-family: Georgia, serif;
	font-size: 25px;
}

#i8q8hj {
	padding: 10px;
	line-height: 30px;
}

#ipjs3e {
	font-family: Georgia, serif;
	font-size: 25px;
}

#i6i3z5 {
	padding: 10px;
	line-height: 30px;
}

#i33pei {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}

#ii4o04 {
	font-size: 2.3rem;
	margin-bottom: 10px;
	max-width: 750px;
	font-family: Georgia, serif;
}

#ii2f8b {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}

#iisspf {
	font-family: Georgia, serif;
	font-size: 25px;
}

#id4brj {
	padding: 10px;
	line-height: 30px;
}

#idhxdj {
	font-family: Georgia, serif;
	font-size: 25px;
}

#i03o5y {
	padding: 10px;
	line-height: 30px;
}

#izf5qf {
	font-family: Georgia, serif;
	font-size: 25px;
}

#i73xnn {
	padding: 10px;
	line-height: 30px;
}

#in19fv {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}

#i9g5e9 {
	font-family: Georgia, serif;
}

#im5gc1 {
	padding: 10px;
	font-size: 30px;
}

#il2389 {
	align-self: center;
}

#iv4b3y {
	display: block;
}

#i59xjl {
	display: block;
}

#iwl6fl {
	display: block;
}

#iboj95k {
	display: flex;
	gap: 30px;
	flex: 0 1 auto;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#iejftzm {
	flex-direction: column;
}

#iae18yo {
	padding: 10px;
	text-align: center;
	font-size: 0.8rem;
	margin-top: 20px;
	opacity: 75%;
}

#i0b303x {
	max-width: 1200px;
	display: flex;
	flex-direction: column;
}

#idpoo1f {
	justify-content: center;
	padding-top: 80px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 80px;
}

#is43hjq {
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(180deg, rgba(59, 130, 245, 0.11), white 14%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
	color: #475569;
}

#iruuzki {
	font-family: Georgia, serif;
	font-size: 25px;
}

#io7bogk {
	padding: 10px;
	line-height: 30px;
}

#i983ik {
	color: black;
}

#i2nmhc {
	flex: 0 1 auto;
}

#i8zjea {
	color: rgba(0, 0, 0, 0.99);
	font-family: Georgia, serif;
	font-size: 24px;
}

#iky954 {
	color: #d983a6;
	padding: 10px;
	font-family: Comic Sans MS, cursive, sans-serif;
}

#ic98zo {
	color: rgb(0, 0, 0);
	font-family: Georgia, serif;
	font-size: 24px;
}

#iag8vn {
	color: #d983a6;
	padding: 10px;
}

#iksw88 {
	color: rgb(0, 0, 0);
	font-family: Georgia, serif;
	font-size: 24px;
}

#inl6kl {
	color: #d983a6;
	padding: 10px;
}

#ig2dgg {
	flex-basis: 1%;
}

#imqkrl {
	font-family: Georgia, serif;
	background-color: #1ebc1c;
}

#ib2tn4 {
	align-self: flex-start;
}

#ia61rl {
	font-family: Georgia, serif;
	background-color: #1ebc1c;
}

#it6gmj {
	display: block;
	width: 300px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	flex: 0 0 auto;
}

#ivgivf {
	align-items: center;
	justify-content: space-between;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: rgba(255, 255, 255, 0.8);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	backdrop-filter: blur(13px);
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.14);
}

#izepp9 {
	width: 100%;
	max-width: 1200px;
}

#i9bqo6 {
	justify-content: center;
	position: sticky;
	top: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

#ict3v4 {
	font-family: Georgia, serif;
	font-size: 50px;
}

#i90re6 {
	font-size: 30px;
	font-family: Georgia, serif;
	color: #1ebc1c;
}

#i1huvb {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	position: static;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}

#id1lyk {
	padding-top: 50px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}

#i6a6nq {
	font-size: 2.3rem;
	margin-bottom: 10px;
	max-width: 750px;
	font-family: Georgia, serif;
}

#i11wyu {
	line-height: 30px;
}

#itbymj {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}

#iskwi5l {
	font-size: 2.3rem;
	margin-bottom: 10px;
	max-width: 750px;
	font-family: Georgia, serif;
}

#i52vn9c {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}

#ij2pkwl {
	font-family: Georgia, serif;
	font-size: 25px;
}

#ithvhoi {
	padding: 10px;
	line-height: 30px;
}

#i84afti {
	font-family: Georgia, serif;
	font-size: 25px;
}

#izdsc37 {
	padding: 10px;
	line-height: 30px;
}

#i79n3tu {
	font-family: Georgia, serif;
	font-size: 25px;
}

#iqru0ix {
	padding: 10px;
	line-height: 30px;
}

#is3iryo {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}

#i9bowsf {
	font-size: 2.3rem;
	margin-bottom: 10px;
	max-width: 750px;
	font-family: Georgia, serif;
}

#ivgoyvl {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}

#iodu9ot {
	font-family: Georgia, serif;
	font-size: 25px;
}

#i9h8su2 {
	padding: 10px;
	line-height: 30px;
}

#iagltoo {
	font-family: Georgia, serif;
	font-size: 25px;
}

#igjwkax {
	padding: 10px;
	line-height: 30px;
}

#ixp1u5c {
	font-family: Georgia, serif;
	font-size: 25px;
}

#i4w82yz {
	padding: 10px;
	line-height: 30px;
}

#ifb23c9 {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}

#ida18nk {
	font-family: Georgia, serif;
}

#im41si7 {
	padding: 10px;
	font-size: 30px;
}

#idvoyj4 {
	align-self: center;
}

#i99gq6t {
	display: block;
}

#ihdwugg {
	display: block;
}

#in7zlmc {
	display: block;
}

#ioum6fo {
	display: flex;
	gap: 30px;
	flex: 0 1 auto;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#i50pi6k {
	flex-direction: column;
}

#i5teqfv {
	padding: 10px;
	text-align: center;
	font-size: 0.8rem;
	margin-top: 20px;
	opacity: 75%;
}

#id18yhi {
	max-width: 1200px;
	display: flex;
	flex-direction: column;
}

#inxfcqx {
	justify-content: center;
	padding-top: 80px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 80px;
}

#ird4tki {
	font-family: Arial, Helvetica, sans-serif;
	background-image: linear-gradient(180deg, rgba(59, 130, 245, 0.11), white 14%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
	color: #475569;
}

#iq40pn2 {
	font-size: 2.3rem;
	margin-bottom: 10px;
	max-width: 750px;
	font-family: Georgia, serif;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}

#i2ub6my {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}

#ig5z6v2 {
	font-family: Georgia, serif;
	font-size: 25px;
}

#igs6nzd {
	padding: 10px;
	line-height: 30px;
}

#i6xiz83 {
	font-family: Georgia, serif;
	font-size: 25px;
}

#iax2so5 {
	padding: 10px;
	line-height: 30px;
}

#iyz3um5 {
	font-family: Georgia, serif;
	font-size: 25px;
}

#ibhbep4 {
	padding: 10px;
	line-height: 30px;
}

#i6f7sj5 {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 50px;
	padding-left: 0px;
}

#i9gwrri {
	color: #1ebc1c;
	padding: 10px;
}

#irrh0cs {
	color: #1ebc1c;
	padding: 10px;
}

#ilpqw56 {
	color: #1ebc1c;
	padding: 10px;
}

#i7gf4dk {
	color: #1ebc1c;
	padding: 10px;
}

#isbk3bd {
	color: #1ebc1c;
	padding: 10px;
}

#iea6xvj {
	color: #1ebc1c;
	padding: 10px;
}

#i13nwfu {
	color: #1ebc1c;
	padding: 10px;
}

#iarbqyb {
	color: #1ebc1c;
	padding: 10px;
}

#i8xc0sg {
	color: #1ebc1c;
	padding: 10px;
}

#i3enu08 {
	color: #1ebc1c;
	padding: 10px;
}

#i6q1vs1 {
	color: #1ebc1c;
	padding: 10px;
}

#iobrh3z {
	color: #1ebc1c;
	padding: 10px;
}

@media (max-width: 992px) {
	.gjs-grid-row {
		flex-direction: column;
	}

	.gjs-grid-row {
		flex-direction: column;
	}

	#iyd2 {
		flex-direction: row;
	}

	#irz6kd {
		flex-direction: row;
	}

	#iaxu29 {
		flex-direction: row;
	}

	#ikb9db {
		flex-direction: row;
	}

	#iel8b4 {
		flex-direction: row;
	}

	#i5t9ig {
		flex-direction: row;
	}

	#ido2ge {
		flex-direction: row;
	}

	#ivgivf {
		flex-direction: row;
	}
}